.main-body{
    display: flex;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--accent);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text);
}
