.main-body {
    display: flex; /* Arranges sidebar, content, and rightbar in a row */
}

/* Custom scrollbar styles (only for WebKit browsers), Firefox not supported */

::-webkit-scrollbar {
    width: 7px; /* Sets scrollbar width */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
    background-color: var(--accent);
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: var(--text);
}
