.content{
    width: 100%;
    border-left: solid 1px var(--accent);
    border-right: solid 1px var(--accent);
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 28px 15px;
    line-height: 1.8;
    word-spacing: 2px;
}

.content h1{
    margin-bottom: 25px;
    font-size: 40px;
}

.content h2{
    margin-bottom: 15px;
    margin-top: 15px;
}

.content div{
    margin-top: 15px;
}

.edit{
    display: flex;
    align-items: center;
}

.content p code{
    color: var(--primary);
    font-weight: bolder;
    font-size: large;
}

.content li code{
    color: var(--primary);
    font-weight: bolder;
    font-size: large;
}

.content tr code{
    color: var(--primary);
    font-weight: bolder;
    font-size: large;
}

.content pre{
    background-color: var(--code);
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.content pre::-webkit-scrollbar{
    height: 7px;
}

.content pre::-webkit-scrollbar-track{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content pre code{
    color: var(--codeInverted);
    font-weight: inherit;
    background-color: var(--code);
}

td{
    border-top: solid 1px var(--accent);
    padding: 5px;
}

table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.underline{
    text-decoration: underline;
}

@media (min-width: 768px) {
    .content{
        padding: 28px 50px;
        height: 94vh;
    }
}

@media (min-width: 1024px) {
    .content{
        height: 91vh;
        width: 60%;
    }
}

@media (min-width: 1440px) {
    .content{
        height: 93vh;
    }
}

