nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    box-shadow: var(--shadow);
}

.favicon{
    width: 32px;
    height: 32px;
    color: var(--default);
}

.support{
    display: none;
}

.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.nav-left a{
    height: 32px;
}

.logo{
    width: 32px;
    height: 32px;
}

.icon{
    width: 32px;
    height: 32px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:var(--background);
    border-radius:5px;
    width: fit-content;
    box-shadow: var(--shadow);
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: var(--text);
    padding: 10px 20px;
    height: fit-content;
}

.dropdown-options a:hover {
    border-radius:5px;
}

.dropdown a{
    color: var(--title);
}

.arrow{
    font-size: 13px;
}

@media (min-width: 768px) {
    .support{
        display: block;
    }

    .nav-left{
        width: 75%;
    }

    .logo{
        width: 48px;
        height: 48px;
    }

    nav{
        height:7vh;
    }
}

@media (min-width: 1024px) {
    .bar{
        display: none;
    }

    .nav-left{
        width: 40%;
    }

    nav{
        height: 9vh;
    }

    .nav-left{
        width: 35%;
    }
}

@media(min-width: 1440px){
    nav{
        height: 7vh;
    }
}

@media (min-width: 2560px) {
    .nav-left{
        width: 20%;
    }
}



