nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--accent);
    height: 10vh;
}

.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.nav-left a{
    height: 32px;
}

.logo{
    width: 48px;
    height: 48px;
}

.icon{
    width: 32px;
    height: 32px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:var(--background);
    border-radius:5px;
    width: fit-content;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: var(--text);
    padding: 10px 20px;
    height: fit-content;
}

.dropdown-options a:hover {
    background-color: var(--accent);
    border-radius:5px;
}

.arrow{
    font-size: 13px;
}


