.sidebar{
    width: 20%;
    overflow-y: auto;
    height: 90vh;
    padding: 50px 35px;
}

.sidebar ul{
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
    border-left: 2px solid var(--accent);
}

.sidebar ul li{
    margin-bottom: 15px;
    width: fit-content;
}
.sidebar ul li a{
    line-height: 1.5;
    padding-left: 15px;
    display: inline-block;
}

.sidebar ul li a:hover{
    border-left: solid 2px var(--primary);
}