.rightbar {
    width: 20%;
    height: 91vh;
    overflow-y: auto; /* Active le défilement vertical si nécessaire */
    padding-top: 50px;
    padding-left: 25px;
    display: none; /* Caché par défaut sur les petits écrans */
}

.rightbar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.rightbar ul li {
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Afficher la sidebar à partir d'un écran de 1024px */
@media (min-width: 1024px) {
    .rightbar {
        display: block;
    }
}

/* Ajustement de la hauteur sur les très grands écrans */
@media (min-width: 1440px) {
    .rightbar {
        height: 93vh;
    }
}
