.rightbar{
    width:20%;
    height: 91vh;
    overflow-y: auto;
    padding-top: 50px;
    padding-left: 25px ;
    display: none;
}

.rightbar ul{
    list-style: none;
    padding-left: 0 ;
    margin-top:20px;
}

.rightbar ul li{
    margin-bottom: 15px;
    line-height: 1.5;
}

@media (min-width: 1024px) {
    .rightbar{
        display: block;
    }
}

@media (min-width: 1440px) {
    .rightbar{
        height: 93vh;
    }
}